.settings-menu {
    display: flex;
    flex-direction: column;

    h2 {
        padding-bottom: 20px;
    }

    .settings-section {
        display: flex;
        flex-direction: column;
        padding-left: 20px;

        h4 {
            padding-bottom: 20px;
        }
        label {
            display: flex;
            justify-content: space-between;

            input[type="checkbox"] {
                background-color: blue;
                width: 1.15em;
                height: 1.15em;
                color: blue;
            }
        }

        
    }
}